<%= form_with(model: order, local: true) do |form| %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div>
    <%= form.label :payment_id %>
    <%= form.select :payment_id, options_for_select(@payments) %>
  </div>

  <br>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>